* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin: 0;
}

li {
    list-style-type: none;
}

h1 {
    display: inline-block;
    vertical-align: 35%;
}

body {
    background-color: rgb(220 242 186 / 66%);
}

.list,
.buttons {
    width: 60%;
 }

 .buttons #icoDanger {
    width: 40px;
    height: 40px;
 }